.DropdownMenu {
    position: absolute;
    top: 5rem;
    box-shadow: 0 0 10px grey;
    background-color: var(--text-color);
    border-radius: var(--bradius);
    width: 10rem;
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem;
    transform: translateX(-25%);
}

.MenuItem {
    display: block;
    width: 100%;
    align-items: center;
    text-align: center;
    color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: var(--bradius);
    transition: background-color 200ms ease-in-out;
}

.MenuItem:hover {
    color: var(--text-color);
    background-color: var(--background-color);
}