:root {
    --background-color: #2196F3;
    --text-color: #E3F2FD;
    --bradius: 5%;
    --font-family: 'Sawarabi Gothic', sans-serif;
}

header {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--background-color);
}

header>div {
    flex: 1;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.RightMenuWrapper {
    display: flex;
    gap: 2.5rem;
    justify-content: flex-end;
}

.animation-enter {
    opacity: 0;
}

.animation-enter-active {
    opacity: 1;
    transition: opacity 150ms;
}

.animation-exit {
    opacity: 1;
}

.animation-exit-active {
    opacity: 0;
    transition: opacity 150ms;
}