:root {
    --background-color: #2196F3;
    --text-color: #E3F2FD;
    --bradius: 5%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 10vh;

    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}